/* line 3, ../sass/layout.scss */
body {
  font-family: Montserrat, sans-serif;
}

/* line 7, ../sass/layout.scss */
.w20 {
  width: 15%;
  float: left;
}

/* line 11, ../sass/layout.scss */
.w80 {
  width: 85%;
  float: left;
}

/* line 16, ../sass/layout.scss */
.title-bar {
  background: #3498db;
  font-weight: 200;
  padding: 20px 10px;
  color: #FFF;
}
/* line 21, ../sass/layout.scss */
.title-bar.logo-holder {
  background: #0a2639;
  padding: 25px;
}
/* line 27, ../sass/layout.scss */
.title-bar .user .role {
  text-transform: uppercase;
  font-size: 10px;
}

/* line 34, ../sass/layout.scss */
.content-wrapper {
  padding: 40px;
}
