.card{

		padding:20px;
		font-weight: 200;
		border:1px solid rgba(0,0,0,.1);
		box-shadow:0 0 3px 0px #CCC;

		.card-heading{
			margin-bottom: 10px;
			h1{
				display: inline-block;
				margin-left: 5px;

			}
		}

		.card-content{

			h2{
				text-transform: uppercase;
				font-weight: 200;
				margin:10px 0;

				strong{
					font-weight: normal;
				}
			}

			li{
				margin:15px 0;
				p{
					font-size: 13px;
					line-height: 16px;
				}
			}
		}

		.card-footer{
			text-align: right;
			font-size: 12px;
			padding-top:20px;
			border-top:1px dotted #CCC;
		}
}